{% extends "base.html" %}

{% block content %}

<div class="col-md-6 mx-auto">
    <h1>ユーザー一覧</h1>

    <table class="table py-3 my-3">
      <thead>
        <tr class="bg-dark text-white">
          <th scope="col">ID</th>
          <th scope="col">ユーザー名</th>
          <th scope="col">メールアドレス</th>
          <th scope="col">管理者権限</th>
        </tr>
      </thead>
      <tbody>
        {% for user_data in user_list %}
          {% for user in user_data %}
          <tr>
            <td scope="col-md-2">{{ user[0] }}</td>
            <td class="col-md-2">{{ user[1] }}</td>
            <td class="col-md-3">{{ user[2] }}</td>
            {% if user[3] == "1" %}
            <td class="col-md-2">管理者</td>
            {% else %}
            <td class="col-md-2">一般ユーザー</td>
            {% endif %}
          </tr>
          {% endfor %} 
        {% endfor %} 
      </tbody>
    </table>

</div>
{% endblock %}